@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
}

html,
body {
	scroll-behavior: smooth;
	user-select: none;
}

body {
	min-height: 100vh;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul,
li,
ol {
	list-style-type: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
}
